body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #000 !important;
  background-image: none !important;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.landing-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
